
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card post</title>
    <div th:insert="~{index :: link}"></div>
    <link th:fragment="link_icon" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        .scrolling {
            height: 650px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
</head>
<body style="background-color: #DAE0E6;">

<div th:fragment="cardPost">
    <div style="width: 48rem; margin: auto;height: 650px;overflow-y: scroll;overflow-x: hidden" >
        <div class="container">
            <div class=" mb-5" th:each="post: ${posts}">
                <div class="row rounded" style="background-color: white" >
                    <div class="col-1 d-flex flex-col align-items-center border-right">
                        <div>
                            <a th:href="@{/handle-upvote/{id}(id=${post.post_id})}"><i class="bi bi-arrow-up-short" style="font-size: 25px;" ></i></a>
                        </div>
                        <p id="demo" style="font-size: 18px;" class="text-center m-0" th:text="${post.vote_count}">0</p>
                        <div>
                            <a th:href="@{/handle-downvote/{id}(id=${post.post_id})}"><i class="bi bi-arrow-down-short" style="font-size: 25px;" ></i></a>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="row pt-3" style="margin-right: 5px;">
                            <div class="col-11">
                                <div class="row">
                                        <span class="col">
                                            <span><b style="font-size: 15px" th:text="${post.subreddit.subreddit_title}">Music </b></span>
                                            <span th:text="${post.post_create_date}">10/05/2022</span>
                                        </span>
                                    <span class="col" style="text-align: right">
                                            <a th:href="@{/editPost/{id}(id=${post.post_id})}"><i class="bi bi-pencil-fill" style="font-size: 15px;" type="button"></i></a>
                                            <a th:href="@{/delete-post/{id}(id=${post.post_id})}"><i class="bi bi-trash-fill" style="font-size: 15px;" type="button"></i></a>
                                       </span>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- second row -->
                        <div class="row">
                            <div class="col-11">
                                <p style="margin-top: 5px;">
                                    <b style="font-size: 15px" th:text="${post.post_title}">Guitar</b>
                                </p>
                            </div>
                        </div>
                        <!-- third row -->
                        <div class="row" style="margin-right: 5px;">
                            <div class="col-11">
                                <p th:text="${post.post_description}">Strumming 101.</p>
                            </div>
                        </div>
                        <!-- forth row -->
                        <div class="row">
                            <div class="col-11">
                                <img th:src="${post.post_url}" class="card-img-top">
                            </div>
                        </div>
                        <!-- fifth row -->
                        <div class="row">
                            <div class="col-11 my-3">
                                <i class="bi bi-chat-dots-fill" style="font-size: 1.2rem" type="button"></i>
                                <span>  Comment(<span th:text="${post.comment.size()}"></span>)  </span>
                                <a type="button" class="btn btn-primary" th:href="@{/add-comment/{id}(id=${post.post_id})}">Read Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:insert="~{index :: script}"></div>
</body>
</html>