<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{index :: link}"></div>
    </style>
</head>
<body style="background-color: #DAE0E6;">
<div th:replace="~{index :: navBar}"></div>
<!-- Form Create Post -->
<div class="container mx-auto p-5" >
    <div class="row">
        <div class="col-8">
            <div class="container pt-3" style="border: 2px solid whitesmoke ;background-color: white">
                <form th:action="@{handle-addPost}" th:object="${post}" method="post" enctype="multipart/form-data">
                <div class="row pb-3">
<!--Post Title-->
                    <div class="col-12">
                        <div class="mb-2" >
                            <h6 class=" text-lg font-bold tracking-tight text-gray-900 dark:text-black">Create Post</h6>
                            <input type="text" class="form-control" th:field="*{post_title}" id="exampleFormControlInput1" placeholder="Post Title">
                            <small id="nameHelp" th:errors="*{post_title}" class="form-text text-danger"></small>
                        </div>
                    </div>
<!--Post Description-->
                    <div class="col-12">
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{post_description}" rows="3" placeholder="Post Description"></textarea>
                            <small id="descHelp" th:errors="*{post_description}" class="form-text text-danger"></small>
                        </div>
                    </div>
 <!-- drop down-->
                    <div class="col-12">
                        <div class="mb-3">
                            <select th:field="*{subreddit_id}" class="form-select form-select-sm" aria-label="Default select example"  style="background-color: lightgray;">
                                <option th:each="subreddit: ${subreddits}" th:value="${subreddit.subreddit_id}"
                                        th:text="${subreddit.subreddit_title}"></option>
                            </select>
                        </div>
                    </div>
<!--choose image-->
                    <div class="col-12">
                        <!-- image-->
                        <div >
                            <input th:field="${post.file}" onchange="loadFile(event)" class="form-control" type="file" aria-describedby="nameHelp">
                        </div>
                        <div class="my-3 ">
                            <img id="output" width="200" />
                        </div>
                    </div>
<!--Button-->
                    <div class="col-6">
                        <a type="button" th:href="@{/home}" class="hover:translate-y-1  w-full inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-normal uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" style="text-align: center; text-decoration: none">DISCARD</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="hover:translate-y-1  mb-2 w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" >POST</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
    <div th:insert="~{index :: script}"></div>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</body>
</html>