<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{index :: link}"></div>
</head>
<body style="background-color: #DAE0E6;">
<div th:replace="~{index :: navBar}"></div>
<!--  Create Reddit-->
<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-8">
            <div class="container pb-3" style="border: 2px solid whitesmoke ;background-color: white">
                <form th:action="@{/handle-update/{id}(id=${subreddit.subreddit_id})}" th:object="${subreddit}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3 pt-3">
                            <h6 class=" text-lg font-bold tracking-tight text-gray-900 dark:text-black">Create Subreddit</h6>
                            <input type="name"  th:value="${subreddit.subreddit_title}"  name="subreddit_title" class="form-control" id="exampleInputted1" aria-describedby="nameHelp">
                            <small id="nameHelp" th:errors="${subreddit.subreddit_title}" th:field="${subreddit.subreddit_title}" class="form-text text-danger"></small>
                        </div>
                    </div>

                    <div class="col-6">
                        <a type="button" th:href="@{/view_all}"  class="hover:translate-y-1  w-full inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-normal uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" style="text-align: center; text-decoration: none">DISCARD</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="hover:translate-y-1  w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" >POST</button>
                    </div>

                </div>
                </form>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div th:insert="~{index :: script}"></div>
</body>
</html>