
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card post</title>
    <div th:insert="~{index :: link}"></div>
    <link th:fragment="link_icon" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body style="background-color: #DAE0E6;">

<div th:fragment="content">
    <div class="my-4" style="width: 48rem; margin: auto;" >
        <div class="container">
            <div class=" mb-4" th:each="post: ${posts}">
                <div class="mb-2">
                    <a th:href="@{/home}"><i class="bi bi-arrow-left-circle" style="font-size: 1.7rem"></i></a>
                </div>
                <div class="row rounded" style="background-color: white" >
                    <div class="col-1 d-flex flex-col align-items-center border-right">
                        <div>
                            <a th:href="@{/handle-upvotePost/{id}(id=${post.post_id})}"><i class="bi bi-arrow-up-short" style="font-size: 25px;" ></i></a>
                        </div>
                        <p id="demo" style="font-size: 18px;" class="text-center m-0" th:text="${post.vote_count}">0</p>
                        <div>
                            <a th:href="@{/handle-downvotePost/{id}(id=${post.post_id})}"><i class="bi bi-arrow-down-short" style="font-size: 25px;"></i></a>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="row pt-3" style="margin-right: 5px;">
                            <div class="col-11">
                                <div class="row">
                                        <span class="col">
                                            <span><b style="font-size: 15px" th:text="${post.subreddit.subreddit_title}">Music </b></span>
                                            <span th:text="${post.post_create_date}">10/05/2022</span>
                                        </span>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- second row -->
                        <div class="row">
                            <div class="col-11">
                                <p style="margin-top: 5px;">
                                    <b style="font-size: 15px" th:text="${post.post_title}">Guitar</b>
                                </p>
                            </div>
                        </div>
                        <!-- third row -->
                        <div class="row" style="margin-right: 5px;">
                            <div class="col-11">
                                <p th:text="${post.post_description}">Strumming 101.</p>
                            </div>
                        </div>
                        <!-- forth row -->
                        <div class="row">
                            <div class="col-11">
                                <img th:src="${post.post_url}" class="card-img-top">
                            </div>
                        </div>
                        <!-- fifth row -->
                        <div class="row">
                            <div class="col-11 my-3">
                                <i class="bi bi-chat-dots-fill" style="font-size: 1.2rem" type="button"></i>
                                <span> Comment(<span th:text="${post.comment.size()}"></span>) </span>
                                <form  th:action="@{/handle-addComment/{id}(id=${mainId})}" th:object="${comment}" method="post">
                                    <!-- Message input -->
                                    <div class="form-outline my-4">
                                        <textarea th:field="*{comment_text}" class="w-full h-20 p-2 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1" id="form4Example3" rows="4" placeholder="add a comment..."></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <a type="button" th:href="@{/home}" class="hover:translate-y-1  w-full inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-normal uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" style="text-align: center; text-decoration: none">DISCARD</a>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="hover:translate-y-1  mb-2 w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" >POST</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <b th:if="${comments.size()==0}">no comment</b>
                    <div th:if="${comments.size()>0}" th:replace="comment::commentSection"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>